{% extends 'base.html.twig' %}

{% block title %}Ouvrier du paysage
{% endblock %}

{% block body %}
	<div id="gotobot">
		<a class="arrow" onclick="botFunction()">
			<i class="bi bi-arrow-down"></i>
		</a>
	</div>

	<div id="gototop" class="displaynone">
		<a class="arrow" onclick="topFunction()">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>
	<div id="plant">
		<i class="fab fa-pagelines fa-5x"></i>
	</div>
	<div class="img" id="plante">
		<span>Plantes</span>
	</div>
	<section>
		<h2>Description</h2>
		<p>Si vous souhaitez faire un quizz basique, sélectionnez QUIZZ NORMAL, si vous souhaitez un peu plus de challenge, vous pouvez faire un quizz chronométré.</p>
	</section>
	<div class="img" id="arbre">
		<span>Arbres</span>
	</div>
	<section>
		<h2>Choix</h2>
		<div id="quizz">
			{% if app.user %}
				<a href="quizz" class="button button-sign-in popup-button" data-modal="popup">
			{% else %}
				<a href="login" class="button button-sign-in popup-button" data-modal="popup">
			{% endif %}
				<button class="btq">Quizz Normal</button>
				</a>
			{% if app.user %}
				<a href="question.php?chrono=yes" class="button button-sign-in popup-button" data-modal="popup">
			{% else %}
				<a href="login" class="button button-sign-in popup-button" data-modal="popup">
			{% endif %}
				<button class="btq">Quizz Chronométré</button>
				</a>
			{# {% if app.user %}
				<a href="{{ url('listing') }}" class="button button-sign-in popup-button" data-modal="popup">
			{% else %}
				<a href="login" class="button button-sign-in popup-button" data-modal="popup">
			{% endif %}
				<button class="btq">Plantes</button>
				</a> #}
			
				<a href="{{ url('listing') }}" class="button button-sign-in popup-button" data-modal="popup">			
				<button class="btq">Plantes</button>
				</a>
			
		</div>
	</section>
	<div class="img" id="fleur">
		<span>Fleurs</span>
	</div>
	<aside>
		
	</aside>
	<div class="img" id="fin"></div>
	
{% endblock %}

