{% extends 'base.html.twig' %}

{% block title %}Ouvrier du paysage
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('../styles/accueil.css')}}" >

	<div id="gotobot">
		<a class="arrow d-flex justify-content-center align-items-center" href="#plant">
			<i class="bi bi-arrow-down"></i>
		</a>
	</div>

	<div id="gototop" class="d-none">
		<a class="arrow d-flex justify-content-center align-items-center" onclick="topFunction()">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<div id="plant" data-spy-target="plant">
		<i class="fab fa-pagelines fa-5x p-md-0" onclick="topFunction()"></i>
	</div>
	
	<div class="img" id="plante">
		<span>Plantes</span>
	</div>
	<section class="p-5">
		<h2>Description</h2>
		<p>Si vous souhaitez faire un quizz basique, sélectionnez QUIZZ NORMAL, si vous souhaitez un peu plus de challenge, vous pouvez faire un QUIZZ CHRONOMETRE.</p>
	</section>
	<div class="img" id="arbre">
		<span>Arbres</span>
	</div>
	<section class="p-0 pt-5 pb-5">
		<h2>Choix</h2>
		<div id="quizz" class="flex-column flex-md-row col-11 col-md-10 col-lg-12 p-0 justify-content-between justify-content-lg-around mx-auto">
			{% if app.user %} 
				<a href="quizz" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center">QUIZ</a>
			{% else %}
				<a href="login" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center">QUIZ</a>
			{% endif %}
			{% if app.user %}
				<a href="" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center disabled">A VENIR</a>
			{% else %}
				<a href="login" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center disabled">A VENIR</a>
			{% endif %}
			{% if app.user %}
				<a href="{{ url('listing') }}" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center">PLANTES</a>
			{% else %}
				<a href="login" class="btn btn-violet my-2 me-2 p-1 p-lg-3 col-5 col-md-3 align-self-center">PLANTES</a>
			{% endif %}
		</div>
	</section>
	<div class="img" id="fleur">
		<span>Fleurs</span>
	</div>
	<aside>
		
	</aside>
	<div class="img" id="fin">
	</div>
	
{% endblock %}

