{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for question in quiz %}
    <h1>{{ question.intitule }}</h1>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
         {% for intitule in Ques %}
            {# {% if %} #}
            <h1>{{intitule}}</h1>
            {# {% endif %} #}
         {% endfor %}
  </label>
{% endfor %}

{% endblock %}
