header {
    background-image: url(/images/plantes/flowersw.jpg);
    height: 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#gototop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.arrow {
    font-size: 4rem;
    color: black !important;
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-radius: 50%;
}

.displaynone {
    display: none !important;
}

#fin {
    background-image: url(/images/plantes/flowers.jpg);
    height: 30%;
    background-attachment: fixed;
    display: flex;
}

footer {
    display: none;
}