header {
    background-image: url(/images/plantes/flowersw.jpg);
    height: 27%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#fin {
    background-image: url(/images/plantes/flowers.jpg);
    height: 27%;
    background-attachment: fixed;
    display: flex;
}

footer {
    display: none;
}

.formulaire {
    height: 46%;
}

h1{
    font-size: 4rem;
}

.connexion>div{
    font-size: 2.5rem;
}

.between>div{
    display: flex;
    justify-content: space-between;
}