header {
    background-image: url(/images/plantes/flowersw.jpg);
    height: 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#fin {
    background-image: url(/images/plantes/flowers.jpg);
    height: 20%;
    background-attachment: fixed;
    display: flex;
}

footer {
    display: none;
}

.formulaire {
    height: 60%;
}
h1{
    font-size: 4rem;
}
.connexion{
    width: 80%;
    height: 100%;
}
.connexion>div{
    font-size: 2.5rem;
}
.connexion>div>input{
    font-size: 2.5rem;
}

.form-control{
    font-size: 2.5rem;
}

.btn{
    font-size: 2.5rem;
}