i.bi-flower3 {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.5em;
    letter-spacing: 8px;
}

h2 {
    font-family: 'Lato', sans-serif;
}

#langue>div>button {
    font-size: 0.8rem;
}

#langue>div>div>a {
    font-size: 1rem;
}

strong.h1 {
    font-size: 1.5rem;
}

.connect>a {
    font-size: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* footer {
	color: white;
	background-color: rgba(40, 61, 112, 0.9);
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-align: center;
	width: 100%;
	align-self: flex-end;
}

footer>h3 {
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
}

footer>ul {
	list-style-type: none;
}

footer>ul>li:hover {
	text-decoration: underline;
	cursor: pointer;
} */

#navbar {
    z-index: 2;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    i.bi-flower3 {
        font-size: 2.5rem;
    }

    strong.h1 {
        font-size: 2.5rem;
    }

    #langue>div>button {
        font-size: 1rem;
    }

    #langue>div>div>a {
        font-size: 1rem;
    }

    .connect>a {
        font-size: 1rem;
    }

    .navbar-toggler-icon {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    #navbar {
        max-height: 10%;
    }
}