#accueil{
    height: 70vh;
}


h1{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3em;
    letter-spacing: 8px;
}

.form-check, .form-check-label, .quizz-btn{
    font-size: 3vh;
    padding-left: 0;
}


#accueil a {
    display: flex;
    width: 80%;
    height: 20%;
    margin: auto;
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
}

#accueil > div{
    height: 100%;
    justify-content: space-evenly;
}

#masked{
    display: none;
}

#d1{background-color: #EECC4499;}
#d2{background-color: #44EEAA99;}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
h2 {
	font-family: 'Lato', sans-serif;
}
span, p, button, li {
	font-family: 'Poppins', sans-serif;
}
header {
	background-image: url(/images/flowersw.jpg);
	min-height: 40%;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}
.img {
	position: relative;
    background-position: center;
    background-size: cover;
}
.error{
	display: flex;
	justify-content: center;
	background-color: red;
	color: white;
}
#tete {
	display: flex;
	justify-content: space-between;
	padding: 2% 4% 0 4%;
}
#tete2 {
	justify-content: flex-end;
}
header>button:first-child {
	background-color: rgba(40, 61, 112, 0.9);
	height: 6%;
	width: 2.5%;
	border: none;
	border-radius: 20%;
	box-shadow: none;
	outline: none;
	cursor: pointer;
}
#btd {
	background-color: rgba(40, 61, 112, 0.9);
	border: none;
	color: white;
	border-radius: 4px;
	width: 105%;
	height: 100%;
	text-transform: uppercase;
}
#btd:hover {
	background-color: rgba(40, 61, 112, 0.7);
}
#btd>i {
	margin-left: 5%;
}
#bt {
	background-color: rgba(40, 61, 112, 0.9);
}
#bt:hover {
	background-color: rgba(40, 61, 112, 0.7);
}
#fermer {
	background-color: rgba(43, 43, 43, 0.9);
}
#fermer:hover {
	background-color: rgba(43, 43, 43, 0.7);
}
#email {
	margin: 0 0 2% 5%;
}
#mdp {
	margin-left: 5%;
	margin-bottom: 2%;
}
#check {
	margin-left: 5%;
}
#check>input {
	margin-right: 1%;
}
#nom {
	margin: 0 0 2% 5%;
}
#prenom {
	float: right;
	margin: -8.5% 5% 0 0;
}
#mail {
	margin: 0 5% 2% 5%;
	width: 90%;
}
#mdp1 {
	margin-left: 5%;
}
#mdp2 {
	float: right;
	margin-right: 5%;
}

#dropdownMenuButton {
	background-color: rgba(40, 61, 112, 0.9);
}
#dropdownMenuButton:hover {
	background-color: rgba(40, 61, 112, 0.7);
}
.dropdown-item:nth-of-type(6n) {
	color: grey;
}
.dropdown-item:nth-of-type(6n):hover{
	background-color: white;
	color: grey;
}
.dropdown-item:nth-of-type(6n+5) {
	color: grey;
}
.dropdown-item:nth-of-type(6n+5):hover{
	background-color: white;
	color: grey;
}
.dropdown-item:nth-of-type(6n+4) {
	color: grey;
}
.dropdown-item:nth-of-type(6n+4):hover{
	background-color: white;
	color: grey;
}
.dropdown-item:nth-of-type(6n+3) {
	color: grey;
}
.dropdown-item:nth-of-type(6n+3):hover{
	background-color: white;
	color: grey;
}
.dropdown-item>img {
	margin-right: 5%;
}
#titre {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
#titre>h1 {
	margin: 0;
	width: 32%;
	margin-left: 34%;
}
#titre>h1 , #titre>span {
	background-color: rgba(40, 61, 112, 0.9);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#plant {
	display: flex;
	width: 100%;
	justify-content: center;
}
#plant>i {
	background-color: white;
	color: rgba(40, 61, 112, 0.9);
	padding: 2% 0 2% 0;
	margin: 0;
}
#plante {
	min-height: 400px;
	background-image: url(/images/abeliaun.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#plante>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
section:first-of-type {
	padding: 50px 80px;
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
section:first-of-type>p {
	text-align: justify;
}
section:first-of-type>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    margin-bottom: 2%;
}
#arbre {
	min-height: 400px;
	background-image: url(/images/flowerss.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#arbre>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
section:last-of-type {
	padding: 50px 80px;
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
section:last-of-type>div {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-auto-rows: 30px;
	justify-content: center;
	justify-items: center;
}
section:last-of-type>div>a>button {
	width: 100%;
	height: 130%;
	background-color: white;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}
section:last-of-type>div>button {
	height: 130%;
	background-color: white;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}
.btq:hover {
	background-color: rgba(40, 61, 112, 0.9);
	color: white;
}
#btq2:hover {
	background-color: white;
	color: grey;
}
section:last-of-type>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    margin-bottom: 2%;
}
#fleur {
	min-height: 400px;
	background-image: url(/images/rose.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#fleur>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
aside {
	padding: 50px 80px;
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
aside>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    margin-bottom: 2%;
}
aside>p {
	text-align: center; 
}
aside>p>span {
	text-decoration: underline;
}
#fin {
	background-image: url(/images/flowersw.jpg);
	min-height: 40%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
}
footer {
	color: white;
	background-color: rgba(40, 61, 112, 0.9);
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-align: center;
	width: 100%;
	align-self: flex-end;
}
footer>h3 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
}
footer>ul {
	list-style-type: none;
}
footer>ul>li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#langue{
	margin-top: 5%;
}

#navbar{
	z-index: 2;
}

#gototop{
	color: white;	
}

body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(1),
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(2),
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(3),
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(4),
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(5) {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10%;
}

body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(6) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	padding-left: 14%;
	margin-bottom: 10%;
}


body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form{
	width: 100%;
}

body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(1)>label,
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(2)>label,
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(3)>label,
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(4)>label,
body>div.col-8.mx-auto.d-flex.flex-column.align-items-center>form>div:nth-child(5)>label {
	width: 70px;
}